body  {
    font-family: Arial;
}
.hidden-on-desktop {
    display: none;
}
nav {
    float: right;
}
h1{
    display: inline-block;
    font-size: 40px;
    padding-bottom: .3em;
    padding-left: .3em;
}
.nav-links {
    list-style: none;
    display: flex;
    padding: 30px 0 10px 0;
}

li {
    padding-left: 1em;
    padding-right: .5em;
}

.header-img {
    display: grid;
    place-items: center;
}

.header-img > img {
    max-width: 99%;
}
.main {
    max-width: 55%;
    display: inline-block;

}
.sub-section {
    padding-left: 25px;
    max-width: 38%;
    display: inline-block;
}
footer {
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;


}
footer > p {
    margin-right: auto;
}

i{
    font-size: 32px;
    padding-left: .2em;
}



@media screen and (max-width: 390px) {
    /*change 600px to 400px for mobile at end*/
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /*align-items: center;*/
    }
    .alert-info {
        background-color: lightblue;
        padding: 20px ;
        display: flex;
        justify-content: center;
        align-items: center;
        border: lightgrey solid 3px;
        font-size: 18px;
    }
    .alert-info a {
        text-decoration: none;
        color: black;
    }
    h1 {
        text-align: center;
        font-size: 60px;
        padding: 0;
        margin: 0;
    }
    .nav-links {
        width: 98%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /*list-style: none;*/
        padding-left: 0px;
    }
    li {
        background-color: lightgrey;
        margin-top: 20px;
        padding: 15px 0;
        width: 98%;
        text-align: center;

    }
    .header-img > img {
        max-width: 339px;
        /*max-height: 224px;*/
    }

    .sub-section {
        font-style: italic;
    }

    .main{
        max-width: 100%;
    }
    .sub-section{
        max-width: 100%;
        padding-left: 0px;
    }

    i {
        font-size: 24px;
    }
}